.horizontal-border {
  border-bottom: 2px solid #e9ecef;
}

.vertical-right-border {
  border-right: 2px solid #e9ecef;
}

.custom-bg-blue {
  background-color: #0032a5 !important;
  border-color: #0032a5 !important; /* Ensures border color matches */
  color: #fff !important;
}

.custom-bg-light-blue {
  background-color: #43a7ec !important;
  border-color: #43a7ec !important; /* Ensures border color matches */
  color: #fff !important;
}

.custom-bg-new-blue {
  background-color: #7A8CDB !important;
  border-color: #7A8CDB !important; /* Ensures border color matches */
  color: #fff !important;
}

.custom-bg-green {
  background-color: #12b669 !important;
  border-color: #12b669 !important; /* Ensures border color matches */
  color: #fff !important;
}
.custom-budget-paginator {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  justify-content: center;
  // margin-top: 1rem;
  color: #000;
}

.paginator-info {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.rows-dropdown {
  margin: 0 5px;
  width: 82px;
}

.grid-budget{
  grid-template-columns: repeat(3, 1fr);
    display: grid;
}


@media (max-width: 762px) {
  .grid-budget{
    grid-template-columns: repeat(1, 1fr);
      display: grid;
  }
  
}
.budget-border-top{
  border-top: 1px solid #cfd4dc;
}
.budget-label{
  font-size: 14px;
  color: #344054;
}
.custom-bg-blue-action {
  background-color: #3d73f1 !important;
  border-color: #3d73f1 !important; /* Ensures border color matches */
  color: #fff !important;
}

.ant-input:focus, .ant-input-focused {
  box-shadow: none !important;
  border: 1px solid #9A9A9A !important;
}
// .p-accordion-tab.p-accordion-tab-active.p-highlight {
//   background-color: transparent !important;
//   border-color: transparent !important; /* Ensures border color matches */
// }
// .custom-bg-blue-action {
//   background-color: #000 !important;
//   border-color: #000 !important; /* Ensures border color matches */
// }
.custom-outlined-blue {
  border-color: #0032a5 !important; /* Ensures border color matches */
  color: #0032a5 !important;
}
.custom-outlined-light-blue {
  border-color: #43a7ec !important; /* Ensures border color matches */
  color: #43a7ec !important;
}
.custom-text-grey{
  color: #475467;
}
.custom-text-light-grey{
  color: #98a1b2;
}
th:first-child {
  border-top-left-radius: 10px;
}
th:last-child {
  border-top-right-radius: 10px;
}

.tabelHeader {
  .p-datatable-table {
    background-color: transparent;
    color: #fff;
    padding: 10px;
    .p-datatable-thead {
      padding: 10px;
    }
    .p-column-header-content {
      padding: 10px;
    }
  }
}
.custom-table {
  .p-datatable-wrapper {
    .p-datatable-table {
      table-layout: fixed;
      width: 100%;
      .p-datatable-tbody {
        tr {
          border: 1px solid #e9ecef;
          border-width: 0 0 1px 0;
          td {
            // border: 0;
          }
        }
        tr:last-child {
          border: 0;
        }
      }
    }
  }
  .p-paginator-bottom {
    height: 0;
    width: 100%;
    height: max-content;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left: 0;
    border-right: 0;
    padding: 0.5rem 0.5rem;
  }
  .p-datatable-loading-overlay {
    border-radius: 10px;
  }
}
.no-data {
  .p-datatable-wrapper {
    .p-datatable-table {
      .p-datatable-tbody {
        tr:last-child {
          border: 0;
          td:first-child {
            border-bottom-left-radius: 10px;
          }
          td:last-child {
            border-bottom-right-radius: 10px;
          }
        }
      }
    }
  }
  .p-paginator-bottom {
    border: 0;
    padding: 0;
  }
}

.p-button:focus {
  outline: none;
  outline-offset: 0;
  box-shadow: none !important;
}

.p-chips .p-chips-multiple-container:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
  border-color: none;
}
