// Target the dashboard page
.dashboard-page {
  margin-top: 10px;
  // margin-bottom: 10px;
  height: calc(100% - 10px);
  width: 100%;
  // background-color: white;
}

.hideTabList {
  .dashboard-header-container {
    display: none !important; 
  }
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.dashboard-scrollable {
overflow-y: auto;
height: 100%;
}

.dashboard-table {
height: 100%;
overflow-y: auto;
position: relative;
display: flex;
flex-direction: column;

.dashboard-content {
  flex: 1;
  overflow-y: auto;
  min-height: 0;  // This is important for Firefox
}
}

// Ensure the parent containers allow for scrolling
.dashboard-container {
height: 100vh;
display: flex;
flex-direction: column;
overflow: hidden;
}

.p-datatable-wrapper {
overflow-y: auto !important;
max-height: calc(100vh - 10px); // Adjust this value based on your header/footer heights
}