.layout-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  transition: margin-left 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
}

.layout-content {
  padding-right: 0.5rem;
  padding-top: 3rem;
  flex: 1 1 auto;
  background-color: white;
}
@media (max-width: 985px) {
  .layout-content {
    padding-top: 0 !important;
  }
}
.grid-container {
  margin-left: 0 !important;
}
