$scale: 14px !default;
$breakpoint: 992px !default;
$sidebarShadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12) !default;

@import './_fonts';
@import './_utils';
@import './_typography';
@import './_animation';
@import './_main';
@import './_topbar';
@import './_search';
@import './sidebar/_sidebar';
@import './_content';
@import './_footer';
@import './_config';
@import './_responsive';
@import './_breadcrumb';
@import "primeicons/primeicons.css";


.page-container {
  iframe {
    width: 100%;
    height: 100vh;
    border: none;
  }
}

.question_container {
  border-radius: 20px;
  padding: 20px;
  min-height: 78px;
  width: 285px;
  background-color: #C7F3FC;
  border-bottom-right-radius: 0px;
  font-size: 16px;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.answer_container {
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  background-color: #F2F4F7;
  border-top-left-radius: 0px;
  font-size: 16px;
  color: #000;
}

.questions-container {
  width: 100%;
}

.questions-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  gap: 15px;
}

.question-item {
  white-space: nowrap;
  flex-shrink: 0;
  max-width: 10000px;
  text-align: center;
  cursor: pointer;
}

.questions-list::-webkit-scrollbar {
  height: 8px;
}

.questions-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.questions-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.icon-container {
  background-color: #DCE5FA;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  // height: 48px;
  // width: 54px;
  padding: 4px;
  margin-right: 8px;
}

.icon-container-sel {
  background-color: #00ADEF;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  height: 48px;
  width: 54px;
}

.graph_container {
  // width: fit-content;
  width: 100%;
  // overflow: scroll;
}

.chart-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding-top: 5px;
  // padding-right: 12px;
  border-radius: 1px;
}


.question-date {
  text-align: right;
  width: 100%;
  color: #5b5c5d;
  font-size: 10px;
  margin-top: 10px;
}

.superset-button-secondary {
  display: flex !important;
  flex-direction: row !important;
}


// Copied from Superset CSS Style

/* CAUTION -- remove the global navigation bar - Make the Dashboard Full Screen*/
#main-menu {
  display: none;
}
/* Reduce Space berween Chart Title and Chart Menu (3 dots) */
.css-8ctgse {
    padding: 1px 0px;
}
.header-title {
/*color: #000080;*/
font-size: 15px;
text-align: center;
font-weight: bold !important;
}
/* Big Number Chart -- start*/
.superset-legacy-chart-big-number .header-line
{
text-align: center !important;
font-size: 30px !important;
display: block;
width: 100%;
}
.superset-legacy-chart-big-number .kicker
{
  text-align: center !important;
  font-size: 20px !important;
  color: #000080;
  display: block;
  width: 100%;
}
.superset-legacy-chart-big-number .subheader-line
{
  text-align: center !important;
  font-size: 17px !important;
  color: #000080;
  display: block;
  width: 100%;
  
}
.superset-legacy-chart-big-number .text-container
{
text-align: center !important;
display: block;
width: 100%;
}
/* Big Number Chart -- End*/

/* Border Start */
/* Spacing between Charts/Columns */
.grid-row > :not(:only-child):not(:last-child):not(.hover-menu) {
 margin-right: 4px !important;
}
/* Space between Grid Rows -- Start*/
.grid-content > div:not(:only-child):not(:last-child):not(.empty-droptarget) {
  margin-bottom: 8px !important;
}
.grid-container {
 margin: 4px !important;
}
.dashboard-component-chart-holder:after {
border: 0 !important;
}
.dashboard--editing .grid-row:after {
border: 0 !important;
display:none;
}
.dragdroppable {
width: 100%;
}
.dragdroppable-column .resizable-container {
width: 100% !important;
max-width: 100% !important;
}
.grid-row {
  background-color: #F7F7F7 !important;
  padding: 2px !important;
}
.dashboard-component-tabs-content > div:not(:last-child):not(.empty-droptarget) {
    margin-bottom: 0px !important;
}
/* Space between Grid Rows -- End*/

/* Headers row */
.dashboard-component-header {
  padding: 6px 0 !important;
}
.header-medium {
  font-size: 20px !important;
}
.header-style-option {
  color: #000080 !important;
  font-weight: 600;
  text-align: center !important;
  background-color: #F7F7F7 !important;
}